body {
    background-image: url(bgs.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
#main{
    width:100%;
    height:1050px;
    border: solid 2px green;
}
#main #body h2{
    text-align: center;
    color:springgreen;
    font-size:40px;
}
#main #body h4{
    text-align: center;
    color:lightgreen;
    font-size:30px;
}
#main #body p{
    text-align: center;
    color: lawngreen;
    font-size:25px;
    -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: lightgreen;
}
